/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
.env

/public/template/plugins/**/*.html
/public/template/plugins/**/*.less
/public/template/plugins/**/*.md
/public/template/plugins/**/*.scss
/public/template/plugins/**/*.ts
/public/template/plugins/**/bower.json
/public/template/plugins/**/package.json
/public/template/plugins/**/webpack.config.js
/public/template/plugins/**/demo/
/public/template/plugins/**/demos/
/public/template/plugins/**/dev/
/public/template/plugins/**/example/
/public/template/plugins/**/examples/
/public/template/plugins/**/less/
/public/template/plugins/**/test/
/public/template/plugins/**/tests/
/public/template/plugins/daterangepicker/website/
/public/template/plugins/daterangepicker/drp.png
/public/template/plugins/daterangepicker/moment.min.js
/public/template/plugins/daterangepicker/package.js
/public/template/plugins/daterangepicker/website.css
/public/template/plugins/daterangepicker/website.js
/public/template/plugins/jquery-ui/AUTHORS.txt
/public/template/plugins/jquery-ui/external/jquery/jquery.js
/public/template/plugins/inputmask/bindings/
/public/template/plugins/flot/plugins/jquery*.js
!/public/template/plugins/flot/plugins/jquery.flot.*.js
!/public/template/plugins/**/LICENSE.md
!/public/template/plugins/**/LICENSE.txt
!/public/template/plugins/**/license.md
!/public/template/plugins/**/license.txt
!/public/template/plugins/**/LICENSE
!/public/template/plugins/**/license
!/public/template/template/plugins/**/COPYING